

div {
    box-sizing: border-box;
	float: left;
}
.topandbottom {
    min-height: 100px;
    background-color: black;
}
.row {
    width: 100%;
}
.left {
    width: 15%;
    background-color: black;
}
.middle {
    width: 70%;
}
.right {
    width: 15%;
    background-color: black;
}